<ng-container *ngIf="!spinnerLoading">
  <div style="width: 100%; margin: 0; padding: 0; min-height: 220px" fxLayout="row" fxLayoutAlign="space-between stretch">
    <div fxFlex="25" fxLayout="column" fxLayoutAlign="space-around center">
      <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
        <div style="font-size: 14px; font-weight: 600"
          [ngStyle]="{ color: (isDarkTheme | async) ? '#7B8AA0' : '#0B112A' }">
          Elige un servicio
        </div>
        <div style="text-align: center; padding-top: 5px">
          <form [formGroup]="form"  style="width: 160px;">
            <mat-form-field appearance="outline" style="width: 70%; font-size: 11px; margin-right: 0">
              <mat-label>MÉTRICA</mat-label>
              <mat-select formControlName="metrica" id="metrica" name="metrica" disableOptionCentering>
                <mat-option *ngFor="let metrica of metricas" [value]="metrica?.idMetrica"
                  (click)="seleccionarMetrica(metrica.metrica)">
                  {{metrica.metrica}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>
      </div>
      <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center" style="margin-top: -80px;margin-bottom: -40px;">
        <!--
          <div style="font-size: 14px; font-weight: 600;"
            [ngStyle]="{ color: (isDarkTheme | async) ? '#7B8AA0' : '#0B112A' }">
            Elige una escala de tiempo
          </div>
          <div style="text-align: center; padding-top: 5px">
            <button mat-button [matMenuTriggerFor]="tiempo" style="background-color: #ffffff;margin-right: 20px;padding: 3px;" *ngIf="idDashboard != 5"><mat-icon class="image-calendar-date-picker"></mat-icon> {{textoSeleccionado}} </button>
            <mat-menu #tiempo="matMenu">
              <button mat-menu-item (click)="alertTiempo(1,'Última hora')" >Última hora</button>
              <button mat-menu-item (click)="alertTiempo(12,'Últimas 12 hras')">Últimas 12 hras</button>
              <button mat-menu-item (click)="alertTiempo(24,'Últimas 24 hrs')">Últimas 24 hrs</button>
              <button mat-menu-item (click)="alertTiempo(7,'Última semana')">Última semana</button>
            </mat-menu>
          </div>
        -->
  
        <div class="select-monitoreo-voz" [ngClass]="{'filtros-afectaciones-full-dark': (isDarkTheme | async), 'dark-theme': (isDarkTheme | async) }">
          <mat-form-field [formGroup]="form" appearance="outline" style="width: 160px; height: 38px; border-radius: 7.99373px; font-size: 10px; margin-right: 30px;">
            <mat-icon matPrefix class="img-calendar" [ngStyle]="{filter: (isDarkTheme | async) ? 'invert(90%)' : '' }"></mat-icon>
            <mat-label>ESCALA DASHBOARD</mat-label>
            <mat-select formControlName="tiempo">
                <mat-option [ngClass]="{'dark-theme': (isDarkTheme | async) }" disabled>Selecciona una escala</mat-option>
                <mat-option value="Última hora" (click)="alertTiempo(1,'Última hora')" >Última hora</mat-option>
                <mat-option value="Últimas 12 horas" (click)="alertTiempo(12,'Últimas 12 hras')">Últimas 12 horas</mat-option>
                <mat-option value="Últimas 24 horas" (click)="alertTiempo(24,'Últimas 24 hrs')">Últimas 24 horas</mat-option>
                <mat-option value="Última semana" (click)="alertTiempo(7,'Última semana')">Última semana</mat-option>
            </mat-select>
          
          </mat-form-field>
        </div>
      </div>
      <div fxFlex fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
        <div style="font-size: 30px; font-weight: 600"
          [ngStyle]="{ color: (isDarkTheme | async) ? '#7B8AA0' : '#0B112A' }">
          <span style="font-size: 15px; font-weight: 600">Porcentaje:</span> {{ dataGrafica?.porcentaje || 0 }}{{ unit }}
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
          <div class="image-promedio-down" style="width: 20px; height: 20px"></div>
          <div style="font-size: 14px; color: #f95a36; font-weight: 600">
            <span style="font-size: 10px; font-weight: 600">Difernecia SLA:</span> {{ dataGrafica?.porcentajeMenor || 0 }}{{ unit }}
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="75" fxLayout="column" fxLayoutAlign="space-around center">
      <ng-container *ngIf="!errorCarga">
        <div *ngIf="viewGraph == 34">
          <app-area [data]="dateValue" [areaType]="'average'" [sizey]="width > 1440 ? 310 : 270" [sizex]="
              width > 1440 ? 800 : width < 1440 ? (width < 1081 ? 450 : 520) : 600
            " color="#3b68ed" linear-gradient="#FFFFFF" gradient-stop="#3b68ed" tooltip-color="rgba(253,141,141, 0.3)"
            [margin]="{ top: 60, right: 10, bottom: 0, left: 40 }" [showXLabels]="true" [showDomain]="true"
            [showYLabels]="true" [specialFormat]="true" [scale]="scale" [showSLA]="false" [sla]="sla" slaColor="#285CED"
            [variant]="true" [isDynamicRange]="false" [range]="range" tick-last-color="#FF0D0D" [unit]="unit"></app-area>
        </div>
        <div *ngIf="viewGraph == 35">
          <ng-container *ngIf="(isDarkTheme | async) ? true : false">
            <app-bar-chart [sizex]="width > 1440 ? 800 : width < 1440 ? (width < 1081 ? 430 : 500) : 580" [sizey]="width > 1440 ? 320 : 280" [data]="dateValue" color="#3b68ed"
              [showDomain]="true" [barWidth]="45" [showLimits]="false" [showXLabels]="true" [showYLabels]="true"
              [border]="false" [margin]="margin" [scale]="scale" [isDynamicRange]="false" [range]="[0, 100]"
              [xposition]="12" unit="%" [grid]="true"></app-bar-chart>
          </ng-container>
          <ng-container *ngIf="(isDarkTheme | async) ? false : true">
            <app-bar-chart [data]="dateValue" [sizex]="width > 1440 ? 800 : width < 1440 ? (width < 1081 ? 430 : 500) : 580" [sizey]="width > 1440 ? 320 : 280" color="#3b68ed"
              [showDomain]="true" [barWidth]="45" [showLimits]="false" [showXLabels]="true" [showYLabels]="true"
              [border]="false" [margin]="margin" [scale]="scale" [isDynamicRange]="false" [range]="[0, 100]"
              [xposition]="12" unit="%" [grid]="true"></app-bar-chart>
          </ng-container>
        </div>
        <div *ngIf="viewGraph == 36">
          <app-area [data]="dateValue" [areaType]="'average'" [sizey]="width > 1440 ? 320 : 280" [sizex]="
              width > 1440 ? 800 : width < 1440 ? (width < 1081 ? 450 : 520) : 600
            " color="#3b68ed" linear-gradient="#FFFFFF" gradient-stop="#FFFFFF" tooltip-color="rgba(253,141,141, 0.3)"
            [showXLabels]="true" [showDomain]="true" [showYLabels]="true"
            [margin]="{ top: 70, right: 10, bottom: 0, left: 40 }" [specialFormat]="true" [scale]="scale"
            [showSLA]="true" [sla]="sla" [isDynamicRange]="false" [variant]="true" [range]="range"
            slaColor="#285CED" tick-last-color="#FF0D0D" [unit]="unit"></app-area>
        </div>
      </ng-container>
      <div fxLayout="row" fxLayoutAlign="center center">
        <ng-container style="margin: 15px 0 0 80px;">
            <span style="font-size: 12px;">Tiempo de Resolucion {{tiempoSeleccionada == 1 ? '5 minutos' : tiempoSeleccionada == 7 ? '1 dia' : '1 hora'}} </span>
        </ng-container>
      </div>
      <ng-container *ngIf="errorCarga">
        <app-service-error-dashboard [typeError]="errorCarga"></app-service-error-dashboard>
      </ng-container>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="spinnerLoading">
  <mat-spinner [diameter]="50" style="margin-top: 150px;margin-left: 500px;"></mat-spinner>
</ng-container>