<div *ngFor="let alert of alerts" class="{{cssClass(alert)}}" style="top: 80px; right: 5%; min-height: unset!important; height: fit-content!important; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15); position:fixed; z-index: 99998; min-width: 30%; max-width: 60%;
display: block; text-align: center; padding-top: 8px; padding-bottom: 8px; padding-left: 30px; padding-right: 8px;">
    
    <ng-container *ngIf="alert.type == 4">
        <div style="position:absolute; left: 5px; top: 4px; width: 25px; height: 25px;" class="image-alerta-bell"></div>
    </ng-container>
    <ng-container *ngIf="alert.type == 3">
        <div style="position:absolute; left: 5px; top: 4px; width: 25px; height: 25px;" class="image-alerta-warn"></div>
    </ng-container>
    <ng-container *ngIf="alert.type == 2">
        <div style="position:absolute; left: 5px; top: 4px; width: 25px; height: 25px;" class="image-alerta-info"></div>
    </ng-container>
    <ng-container *ngIf="alert.type == 0">
        <div style="position:absolute; left: 5px; top: 4px; width: 25px; height: 25px;" class="image-alerta-success"></div>
    </ng-container>
    <ng-container *ngIf="alert.type == 1">
        <div style="position:absolute; left: 5px; top: 4px; width: 25px; height: 25px;" class="image-alerta-danger"></div>
    </ng-container>
    <ng-container *ngIf="alert.type == 5">
        <div style="position:absolute; left: 5px; top: 4px; width: 25px; height: 25px;" class="image-alerta-success"></div>
    </ng-container>
    
    <a type="button" aria-label="Close" (click)="removeAlert(alert)" 
    style="float: right; font-size: 25px!important; font-weight: 600; margin-top: 0px; margin-left: 10px; margin-right: 0px; height: 100%!important;">&times;</a>
    <span [innerHTML]="alert.message" style="font-size: 13px;"></span>
</div>