#flowBoxes {
  margin:auto;
  text-align: left;
  max-width: 600px;
  min-width: 600px;
  font-size: 9px;
  margin-top: 0;
  margin-bottom: 0;
  color: #7B8AA0!important;
  letter-spacing: 0.2em;
}

#flowBoxes div {
display: inline-block;
height: 25px;
padding: 0px 46px; 
font-weight: 600;
}

@media(max-width: 767px){
  #flowBoxes {        
      text-align: center;
  }
}