<div id="chart">
  <svg #progress></svg>
  <ng-container *ngIf="false">
    <mat-icon class="add-blue" [matMenuTriggerFor]="menu" *ngIf="icon">
    </mat-icon>
    <mat-menu #menu="matMenu">
      <ng-container *ngFor="let dispositivo of tiposDispositivos">
        <button mat-menu-item (click)="changeType(dispositivo.value)">
          <mat-icon [ngClass]="dispositivo.clase"></mat-icon>
          <span>{{ dispositivo.name }}</span>
        </button>
      </ng-container>
    </mat-menu>
  </ng-container>
</div>
