<mat-card class="totalplay-card margin-top">
  <mat-card-content class="totalplay-card-container">
    <div class="img-preload" *ngIf="!imgLoad">&nbsp;</div>
    <img mat-card-image (load)="loadImage()" 
      [hidden]="imgLoad === false" 
      src="assets/img/paso4.png" alt="Onboarding"
      style="border-radius: 3px 0px 0px 3px;">
    <div class="totalplay-card-content">
      <mat-card class="card-content">
        <mat-card-title class="text-left mt-2" style="width: 120%; font-size: 22px;">
          {{ title }}
        </mat-card-title>
        <mat-card-subtitle class="text-left mt-2" style="font-size: 15px;">
          Introduce una contraseña para sustituir la anterior
        </mat-card-subtitle>
        <mat-card-content class="mt-4">
          <form [formGroup]="form" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">

            <div class="row d-flex justify-content-center">
              <div class="col-sm-12" style="margin-top: 10px;">                
                <mat-form-field appearance="outline" style="width:100%;" (keydown.enter)="$event.preventDefault()"  (keydown.enter)="enterPassword()">
                  <mat-icon matPrefix class="ico-password"></mat-icon>
                  <mat-label>Contraseña</mat-label>
                  <input matInput formControlName="password" id="password" name="password" maxlength="40"
                  [type]="hideMainPassword ? 'password' : 'text'" #password="matInput" style="font-size: 15px!important;" 
                  (paste)="paste($event)" (keypress)="blockSpace($event);"/>
                  <button mat-icon-button for="password" matSuffix (click)="hideMainPassword = !hideMainPassword" [autofocus]="false">
                    <mat-icon>{{ hideMainPassword ? "visibility_off" : "visibility" }}</mat-icon>
                  </button>
                  <mat-error *ngIf="!form.controls['password'].valid && form.controls['password'].touched">
                    {{ getErrorPassword() }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row d-flex justify-content-center">
              <div class="col-sm-12 fields-container" style="margin-top: 15px;">
                <mat-form-field appearance="outline" style="width:100%;">
                  <mat-icon matPrefix class="ico-password"></mat-icon>
                  <mat-label>Confirmar contraseña</mat-label>
                  <input formControlName="confirmPassword" matInput id="confirmPassword" name="confirmPassword" maxlength="40" style="font-size: 15px!important;"
                  [type]="hideConfPassword ? 'password' : 'text'" (keydown.enter)="$event.preventDefault()" (keydown.enter)="enterConfirm()" #confirmPassword="matInput" (keypress)="blockSpace($event);"/>
                  <button mat-icon-button for="confirmPassword" matSuffix (click)="hideConfPassword = !hideConfPassword" [autofocus]="false">
                    <mat-icon>{{ hideConfPassword ? "visibility_off" : "visibility" }}</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="!form.controls['confirmPassword'].valid && form.controls['confirmPassword'].touched">
                    {{ getErrorPasswordConf() }}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row mt-2 d-flex justify-content-center mb-3">
              <div class="col-md-7 d-flex align-items-end">
                
              </div>
              <div class="col-md-5 d-flex justify-content-end">
                <button class="btn-totalplay"
                  id="btnsend" style="height: 45px; font-size: 14px; line-height: 25px;"    
                  (click)="send()"
                  [disabled]="!form.valid">
                  Continuar
                </button>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
