.cliente-container{
  width: 100%!important;
  margin: 0;
  padding: 20px;
}

.cuadro-izquierdo{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  height: 100vh;     
  padding-left: 60px;
}

.cuadro-central{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  min-height: 500px;
  padding: 20px 30px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.img-user {
  background-image: url("src\assets\img\header-user.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.configuracion-radio ::ng-deep .mat-radio-outer-circle{
  border-radius: 0px !important;
}

.configuracion-radio ::ng-deep .mat-radio-inner-circle{
  border-radius: 0px !important;
}

