<div style="text-align:center;"><ul class="pagination middle">
  <li *ngIf="pageModel.currentPage == 1" class="disabled" style="width: 30px; height: 30px; cursor: default; padding-top: 5px; padding-left: 2px;">    
    <div class="image-paginator-start-disabled" style="font-size: 20px; margin-right: 10px;">&nbsp;</div>
  </li>
  <li *ngIf="pageModel.currentPage > 1" style="width: 30px; height: 30px; padding-top: 5px; padding-left: 2px; cursor: pointer;">    
    <div class="image-paginator-start-enabled" (click)="page(pageModel.currentPage - 2)" style="font-size: 20px; margin-right: 10px;">&nbsp;</div>
  </li>

  <ng-container *ngIf="pageModel.currentPage !== 1 && pageModel.currentPage > 3 ">
    <li style="width: 30px; height: 30px; background-color: #FFFFFF; border-radius: 50%; cursor: pointer;">    
      <div (click)="page(0)" style="width: 100%; height: 100%;">
        <a style="font-size: 12px; color: #7B8AA0; line-height: 30px; font-weight: 600;">{{1}}</a>
      </div>
    </li>  
    <li style="width: 30px; height: 30px; background-color: #FFFFFF; border-radius: 50%; cursor: default;">    
      <div style="width: 100%; height: 100%;">
        <a style="font-size: 12px; color: #7B8AA0; line-height: 30px; font-weight: 600;">...</a>
      </div>
    </li>    
  </ng-container>
  
  <ng-template ngFor let-item [ngForOf]="pageModel.pages" >
    <li *ngIf="item === pageModel.currentPage"  [ngClass]="{'active': true}" style="width: 30px; height: 30px; background-color: #F4F4F4; border-radius: 50%;">    
      <a style="font-size: 12px; color: black; line-height: 30px; font-weight: 600;">{{item}}</a>
    </li>
    
      <li *ngIf="item !== pageModel.currentPage" style="width: 30px; height: 30px; background-color: #FFFFFF; border-radius: 50%; cursor: pointer;">    
        <div (click)="page(item - 1)" style="width: 100%; height: 100%;">
          <a style="font-size: 12px; color: #7B8AA0; line-height: 30px; font-weight: 600;">{{item}}</a>
        </div>
      </li>    
  </ng-template>
  <ng-container *ngIf="pageModel.maxPage !== pageModel.totalOfPages">
    <li style="width: 30px; height: 30px; background-color: #FFFFFF; border-radius: 50%; cursor: default;">    
      <div style="width: 100%; height: 100%;">
        <a style="font-size: 12px; color: #7B8AA0; line-height: 30px; font-weight: 600;">...</a>
      </div>
    </li>  
    <li style="width: 30px; height: 30px; background-color: #FFFFFF; border-radius: 50%; cursor: pointer;">    
      <div (click)="page(pageModel.totalOfPages - 1)" style="width: 100%; height: 100%;">
        <a style="font-size: 12px; color: #7B8AA0; line-height: 30px; font-weight: 600;">{{pageModel.totalOfPages}}</a>
      </div>
    </li>    
  </ng-container>
  
  <li *ngIf="pageModel.currentPage === pageModel.totalOfPages" style="width: 30px; height: 30px; padding-top: 5px; padding-left: 2px; cursor: default;">    
    <div class="image-paginator-end-disabled" style="font-size: 20px;">&nbsp;</div>
  </li>
  <li *ngIf="pageModel.currentPage !== pageModel.totalOfPages" style="width: 30px; height: 30px; padding-top: 5px; padding-left: 2px; cursor: pointer;">
    <ng-container *ngIf="variant">
      <div class="image-paginator-end-enabled" (click)="page(pageModel.currentPage)" style="font-size: 20px;">&nbsp;</div>
    </ng-container>
    <ng-container *ngIf="!variant">
      <div class="image-paginator-end-enabled" (click)="page(pageModel.currentPage)" style="font-size: 20px;">&nbsp;</div>
    </ng-container>
  </li>
  </ul>  
</div>
