<div class="page-wrapper">
  <div class="sticky-header">
    <smc-simple-toolbar logo="image-toolbar"></smc-simple-toolbar>
  </div>
  <div class="content-wrapper" style="background-color:#3B4559">
      <div class="content">
        <div class="autorization-container">
          <div class="d-flex justify-content-center">
            <router-outlet name="auth"></router-outlet>
          </div>
        </div>
      </div>
      <div class="footer">
        <smc-footer></smc-footer>
      </div>
  </div>
</div>