mat-toolbar{
    position: sticky;    
    top: 0;
    z-index: 1000;
    height: 60px;
    background-color:#3B4559;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-menu{
    height: 50px; 
    border-radius: 8px 8px 0px 0px;
    padding: 0;
    padding-left: 10px;
}

.menu-ico{
    width: 30px; 
    height: 30px; 
    background-color: #7B8AA0; 
    border-radius: 8px; 
    position: relative; 
    top: 10px; 
    left: 0px;
}

.menu-active{
    background-color: #F4F4F4;
}

.menu-title-active{
    position: relative; 
    top: -20px; 
    left: 35px; 
    font-size: 14px; 
    font-weight: 600;
    width: fit-content;
}

.menu-title{
    position: relative; 
    top: -20px; 
    left: 35px; 
    font-size: 14px; 
    font-weight: 500;
    color:#7B8AA0;
    width: fit-content;
}

.menu-user{
    width: fit-content; 
    max-width: 250px; 
    /* background-color: red; */
    margin-top: -10px; 
    padding: 0;
    cursor: pointer;
}

.menu-user-container{
    /* background-color: #E6EDF6;  */
    margin: 0; 
    padding: 0; 
    width: fit-content;
    max-width: 180px; 
    height: 40px; 
    margin-top: 10px; 
    margin-left: 5px;
}

::ng-deep .header-menu  .mat-menu-item[disabled] { 
    color: unset!important;
}



::ng-deep .mat-menu-panel{
    max-width:fit-content !important;
    max-height: fit-content!important;
  }


/* TABS */
::ng-deep .worskpace-tab .mat-tab-label-active {
    font-size: 15px;
    font-weight: bold!important;
    color: #000000!important;

    /* margin-left: 10px!important; */
}

::ng-deep .notification-tab .mat-ripple-container-active{
    background-color: none!important;
}

::ng-deep .notification-tab .mat-tab-label{
    color: #000000!important;
    font-weight: bold!important;
    font-size: 15px;
}

::ng-deep .notification-tab .mat-ink-bar{
    background-color: #3B4559!important;
}

::ng-deep .notification-tab .mat-tab-link {
    border-style: solid;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 8px 8px 0px 0px;
    font-weight: bold!important;
}

.mat-ripple.mat-tab-label.mat-focus-indicator.mat-tab-label.ng-star-inserted {
    opacity: 1;
}

.badged-notification {
    width: 25px;
    background-color: #285ced;
    height: 25px;
    color: white;
    border-radius: 15px;
    display: flex;
    margin-left: 14px;
    margin-top: -6px;
    font-size: 15px;
}

::ng-deep .mat-tab-label-active{
    color: #000000;
    font-style: normal;
    font-weight: 800 !important;
    font-size: 18px !important;
}

::ng-deep .mat-tab-label{
    font-style: normal;
    font-size: 18px !important;
}