.pointer{
    width: 20px;
    height: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filter-white .map-zoom-in{
    background-image: url("src\assets\img\map-zoom-in-white.svg") !important;
}

.filter-white .map-zoom-out{
    background-image: url("src\assets\img\map-zoom-out-white.svg") !important;
  }

.hidden-map{
    display: none;
}

.img-paginador{
    background-image: url("src\assets\img\paginator-servicio-azul.svg");
  background-size: 28px 28px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 35px;
}