<mat-toolbar>
        <button mat-button class="btn-default-totalplay ml30" (click)="help()">
            <mat-icon class="image-headphones"></mat-icon>
            <span>¿Necesitas ayuda?</span>
        </button>
        <div class="aviso-privacidad">
            <button mat-button class="btn-help-totalplay" (click)="openAvisoPrivacidad()">
                AVISO DE PRIVACIDAD
            </button>
            <button mat-button class="btn-help-totalplay mr30 ml10" (click)="openTerminos()">
                TÉRMINOS Y CONDICIONES
            </button>
        </div>    
</mat-toolbar>