$md-primary-palette: (
  50: #eff1f4,
  100: #d7dce3,
  200: #bdc5d0,
  300: #a3adbd,
  400: #8f9cae,
  500: #7b8aa0,
  600: #738298,
  700: #68778e,
  800: #5e6d84,
  900: #4b5a73,
  A100: #d4e4ff,
  A200: #a1c3ff,
  A400: #6ea3ff,
  A700: #5493ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-accent-palette: (
  50: #e5ebea,
  100: #bdceca,
  200: #91ada7,
  300: #658c83,
  400: #447469,
  500: #235b4e,
  600: #1f5347,
  700: #1a493d,
  800: #154035,
  900: #0c2f25,
  A100: #6bffcf,
  A200: #38ffbf,
  A400: #05ffaf,
  A700: #00eb9f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-warn-palette: (
  50: #f3e4e8,
  100: #e2bdc6,
  200: #cf91a0,
  300: #bc647a,
  400: #ad435e,
  500: #9f2241,
  600: #971e3b,
  700: #8d1932,
  800: #83142a,
  900: #720c1c,
  A100: #ffa4b0,
  A200: #ff7183,
  A400: #ff3e56,
  A700: #ff2540,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
