<div class="row" style="margin: 30px 10px;">
  <div class="col-12" style="display: flex; justify-content: center;">
    <img src="assets/img/error-pesando.svg" alt="Error en busca de resultado"/>
  </div>
  <div class="col-12">
    <div class="text-center" style="font-size: 14px; color: #3B4559; padding: 0px 10%; margin-top: 15px;">
      No hay resultados que coincidan con tus criterios. Intenta usar otros filtros de búsqueda, trata de ser menos específico, usa palabras clave diferentes o 
      <span style="text-decoration-line: underline; color: #285CED; cursor: pointer;" (click)="returnPage()">
        vuelve a la página anterior.
      </span>
    </div>
  </div>
</div>